
.card-content h5{
    /* background: linear-gradient(0deg, rgba(26,35,126,1) 25%, rgba(253,187,45,1) 100%); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #1A237E;
    font-size: medium;
    font-weight: bold;
}

.incident{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;   
    padding: 15px 15px;    
    border-bottom: 1px dotted;
}

.time-status{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: indigo;
    height: 55px;
}

.incident .timestamp{
    white-space: nowrap;
    font-size: small;
    color: gray;
    color: white;
    background-color:#5f5858;
   
    border-radius:4px;

}


.incident .status {
    white-space: nowrap;
    font-size: small;
    text-align:center;
    padding: 6px;
    min-width: 80px;
    color: white;
    border-radius: 7px
}

.incident .status.new {
    /*  background-color: #ecc909;*/
    background: rgb(255,165,0);
    background: linear-gradient(90deg, rgba(255,165,0,1) 0%, rgba(212,212,26,1) 100%);
}

.incident .status.inprogress {
    background: rgb(0,113,255);
    background: linear-gradient(90deg, rgba(0,113,255,1) 0%, rgba(85,182,224,1) 100%);
}

.incident .status.closed {
    background: rgb(69,138,25);
    background: linear-gradient(90deg, rgba(69,138,25,1) 0%, rgba(122,199,79,1) 100%);;
}

.incident .status.approved {
    background: rgb(15,94,7);
    background: linear-gradient(90deg, rgba(15,94,7,1) 0%, rgba(79,196,124,1) 100%);
}
.incident .title {
   display: inline-block;
   margin-left: 20px;   
   text-align: left;
}

.incident .title a{
       color:  slategray !important;   
   
}
.incident .title:hover{
   text-decoration: underline;
   cursor: pointer;
}


/* Small devices  */
@media (min-width: 300px) {
    
 }
 
 /* (tablets, 768px and up) */
 @media (min-width: 700px) {
     
 }
 
 /* Large Tablets  */
 @media (min-width: 990px) {
   
 }
 
 /* Computer */
 @media (min-width: 1500px) {
  
 }