
nav .badge{
    position: relative;
    top: 20px;
    right: 37px;
    z-index: 1;
    }

    .pagination li.active {
        background-color: #1A237E;
    }
  
    .custom-dropdown {
        position: relative;
        display: inline-block;
      }
      
      .custom-dropdown-content {
        display: none;
        position: absolute;
        /* background-color: #f9f9f9; */
        background-color: #1A237E; 
        color:white;
        font-size: small;
        min-width:300px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 5px 10px;
        z-index: 2;
        border-radius: 5%;
      }
      
      .custom-dropdown:hover .custom-dropdown-content {
        display: block;
      }
    
    .title{
        color:#1A237E;
    }

    .datepicker-date-display, .timepicker-digital-display{
        background-color:#1A237E; ;
    }

    /* .datepicker-done, .datepicker-cancel, .timepicker-close{
        color: #1A237E
    } */

    /* .titleBar{
        border-bottom: 1px solid  #1A237E;
    } */

 ul.actionsBtns li{
       display: inline;
    }

.input-field button {
    margin-right: 10px;
}

.tbl-description{
    width:15%;
}

.tbl-title {
    width:20%;
    cursor: pointer;
}
.tbl-title:hover {
   text-decoration: underline;
}


/* Small devices  */
@media (min-width: 300px) {
    
}

/* (tablets, 768px and up) */
@media (min-width: 700px) {
   
}

/* Large Tablets  */
@media (min-width: 1000px) {
  
}

/* Computer */
@media (min-width: 1500px) {
       .incidentsTbl th{
           color: #1A237E;
           white-space: nowrap;
           width: 14%;
       }    
      
}