
nav .badge{
    position: relative;
    top: 20px;
    right: 37px;
    z-index: 1;
    }

    .pagination li.active {
        background-color: #1A237E;
    }
  
    
    .title{
        color:#1A237E;
    }

    .datepicker-date-display, .timepicker-digital-display{
        background-color:#1A237E; ;
    }

    /* .datepicker-done, .datepicker-cancel, .timepicker-close{
        color: #1A237E
    } */

    /* .titleBar{
        border-bottom: 1px solid  #1A237E;
    } */

 ul.actionsBtns li{
       display: inline;
    }

.input-field button {
    margin-right: 10px;
}

.tbl-description{
    width:15%;
}

.tbl-title {
    width:20%;
    cursor: pointer;
}
.tbl-title:hover {
   text-decoration: underline;
}


/* Small devices  */
@media (min-width: 300px) {
    nav .brand-logo {
        font-size: 21px;
    }
}

/* (tablets, 768px and up) */
@media (min-width: 700px) {
    nav .brand-logo {
        font-size: 21px;
    }
}

/* Large Tablets  */
@media (min-width: 1000px) {
    nav .brand-logo {
        font-size: 30px;
    }
}

/* Computer */
@media (min-width: 1500px) {
       .incidentsTbl th{
           color: #1A237E;
           white-space: nowrap;
           width: 14%;
       }    

       nav .brand-logo {
        font-size: 30px;
    }
       /* .incidentsTbl .header{
           position: sticky;
           top:0;
       }          */
}