
/********** general ************************/

.datepicker-date-display,
.timepicker-digital-display {
  background-color: #1A237E;
}

li>a,
.dropdown-content li>span {
  color: #1A237E;
}

.darkslategrayText {
  color: darkslategray;
}

.inline-icon {
  vertical-align: bottom;
  font-size: 15px !important;
  margin-bottom: 3px;
}

.actions-icon {
  cursor: pointer;
  font-size: medium;
}

.bigTextScroll {
  max-height: 20vh;
  overflow-y: scroll;
}

.updateBtn {
  margin-right: 5px;
}



.heading {
  font-weight: bold;
}

.page-loader {
  margin-top: 10%;
}

/**************** Title **********************/

.title-container {
  text-align: left;
  font-size: larger;
  font-weight: bold;
}

.actions-icon-title {
  cursor: pointer;
  font-size: large;

  margin-right: 3px;
  ;
}

.incident-timestamp {
  text-align: right;
}

span.im-createTime {
  font-size: medium;
}


/************** Attachments **************/

.incident-attachment-container {
  margin-left: 2vw;
}

.incident-attachment-container div.file-container {
  display: flex;
  margin-bottom: 5px;
}

.incident-attachment-container div span.file-text {
  min-width: 190px;
  text-align: left;
  display: flex;
  align-items: center;
  color: slategray;
}

/**********  Fields  *********/

.fields-table{
  line-height: 3;
}
.fields-table .heading{
  font-size: medium;
  white-space: nowrap;
}

/************** Comment **************/
.comment-title {
  color: #1A237E;
  font-size: larger;
  font-weight: bold;
  margin-bottom: 30px !important;
}

.all-comments-box {
  max-height: 70vh;
  overflow-y: scroll;
  padding: 0px 10px;
}

.comment-box{
  margin-bottom: 20px;
}
.comment-text {
  text-align: center;
}

.comment-file-container {}

.comment-file {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;

}

.comment-file-text {
  min-width: 160px;
  font-size: small;
  color: slategray;
  display: flex;
  align-items: center;
}

.comment-file-actions {
  margin-left: 20px;
}

.comment-file-actions i {
  margin-right: 5px;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.comment-timestamp {
  font-size: x-small;
}

.comment-actions i {
  font-size: large;
  margin-left: 5px;
}

.comment-edit-box {
  padding: 30px;
}

.username {
  /* background-color: #1A237E; */
  color: #1A237E;
  font-size: x-small;
  font-weight: bold;
}


.all-comments-box hr {
  border-top: #efefef solid 1px;
}

.search-assignee-box {
  padding: 5px 10px;
}

.new-comment-box{
text-align: left;
  height: fit-content;
}
.new-comment-box button{
  margin-top: 10px;
text-align: right;
}