
    table.incidentsTbl tr td{
        font-size: small;
        white-space: nowrap;
        
    }


    table.incidentsTbl tr th{
       cursor: pointer;
        white-space: nowrap;
        
    }
   
    
    .title{
        color:#1A237E;
    }

    .datepicker-date-display, .timepicker-digital-display{
        background-color:#1A237E; ;
    }


 ul.actionsBtns li{
       display: inline;
    }

.input-field button {
    /* margin-right: 10px; */
}

.tbl-description{
    width:15%;
}

.tbl-title {
    width:20%;
    cursor: pointer;
}
.tbl-title:hover {
   text-decoration: underline;
}


td .status{
    white-space: nowrap;
    font-size: x-small;
    font-weight:500;
    text-align: center;
    padding: 5px 5px;
    min-width: 70px;
    color: white;
    border-radius: 7px;
  }

.status.new {
    background: var( --new-bg-color);
  }
  
   .status.inprogress {
    background: var(--inprogress-bg-color);
  }
  
   .status.closed {
    background: var(--closed-bg-color);
  }
  
   .status.approved {
    background: var(--approved-bg-color);
  }


/* Small devices  */
@media (min-width: 300px) {
    
}

/* (tablets, 768px and up) */
@media (min-width: 700px) {
   
}

/* Large Tablets  */
@media (min-width: 1000px) {
  
}

/* Computer */
@media (min-width: 1500px) {
       .incidentsTbl th{
           color: #1A237E;
           white-space: nowrap;
           width: 14%;
       }    
      
}