.kpibar{
           border: 1px solid gray;
        padding: 20px;
        border-radius: 20px;
   
} 

.kpi{
    
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    padding: 25px 10px;
    border-radius: 30px;
    color: white; 

}

.kpi-text{      
    white-space: nowrap;
    
}

.new-color{
    background: rgb(219,170,62);
    background: linear-gradient(90deg, rgba(219,170,62,1) 0%, rgba(228,184,117,1) 100%);
}

.inprogress-color{
    background: rgb(0,113,255);
    background: linear-gradient(90deg, rgba(0,113,255,1) 0%, rgba(85,182,224,1) 100%);
}

.closed-color{
    background: rgb(69,138,25);
    background: linear-gradient(90deg, rgba(69,138,25,1) 0%, rgba(122,199,79,1) 100%);;
}

.approved-color{
    background: rgb(15,94,7);
    background: linear-gradient(90deg, rgba(15,94,7,1) 0%, rgba(79,196,124,1) 100%);
}

.late-color{
    background: rgb(94,12,7);
    background: linear-gradient(90deg, rgba(94,12,7,1) 0%, rgba(173,70,62,1) 100%);
}

.assignedToMe-color{
    background: rgb(7,7,94);
    background: linear-gradient(90deg, rgba(7,7,94,1) 0%, rgba(65,69,185,1) 100%);
}



/* Small devices  */
@media (min-width: 300px) {
   .kpi{
    padding: 10px 0px;
    margin-bottom: 20px;
    border-radius: 10%;
   }

       
   .kpi-value{
    
    font-size: 15px;   
    margin-bottom: 5px; 
    }
    .kpi-text{
       
        font-size: 10px;
    }
}

/* (tablets, 768px and up) */
@media (min-width: 700px) {
    
}

/* Large Tablets  */
@media (min-width: 1000px) {
    .kpi{
        padding: 25px 10px;
        margin-bottom: 0px;
       }

    .kpi-value{    
        font-size: 20px; 
        font-weight: bold;
        margin-bottom: 5px;    
    }
    .kpi-text{
        
        font-size: 10px;
       
    }
}

/* Computer */
@media (min-width: 1500px) {
    .kpi{
        padding: 25px 10px;
        margin-bottom: 0px;
       }
       
    .kpi-value{
    
        font-size: 25px;   
        margin-bottom: 5px; 
    }
    .kpi-text{
        font-weight: bold;
        font-size: 12px;
    }
}