
         .material-icons.prefix.active {
            color:#1A237E ;
         }

         .logo-Container{
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: radial-gradient(circle, rgba(26,35,126,1) 0%, rgba(0,0,0,1) 100%);;
        }

        .row .col.login-logo-col {
            padding: 0;
            
        }
       
        .logo-Container img{
            width: 40vw;
        }

        .form-container{
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .form-container img{
            width: 60vw;
        }

        .form-container form{
            
             width:90vw;
        }
        
        /* Small devices  */
        @media (min-width: 300px) {
            .form-container form{
            
                width:90vw;
           }

           .userlogin-text{
                font-size: medium;
                font-weight: 700;
            }
        }

        /* (tablets, 768px and up) */
        @media (min-width: 700px) {
            .form-container form{
            
                width:90vw;
           }
        }

        /* Large Tablets  */
        @media (min-width: 1000px) {
            html { 
            /* background: url('/IM/images/bg.jpg') no-repeat center center fixed;  */
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-color: white;
            }
            .form-container form{
            
                width:40vw;
           }
        }

        /* Computer */
        @media (min-width: 1500px) {
          
            .form-container form{
            
                width:40vw;
           }
            
        }


        .login-page{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center ;
        }
        .login-box{
            border-radius: 15px;
            width: 400px;
            padding: 30px 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: normal;
        }

        .card.login-box input{
            padding-left: 8px;
            font-size: medium;
        }

        .card.login-box .btn{          
            
            font-size: small;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .card.login-box .btn-container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }