

.user-toogle{

width: fit-content;
text-align: start;
padding: 30px 0;
margin-top: 100px;
font-size: 20px;
border:1px solid;
border-radius: 10px;
}
.user-toogle span{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: blue;
}
.user-toogle i{
   padding-left: 3px;
   color: blue;
}


.messages-window .users {
    border-right: 0.5px solid slategray;
    cursor: pointer;
}

.messages-window .users .user-info{
    /* border-bottom: 0.5px solid slategray; */
    padding: 10px;
    padding-bottom: 5px;
    
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.messages-window .users .user-info.selected{
    background-color:lightgray;
}

.messages-window .users .user-info:hover{
    background-color:lightgray;
}

.messages-window .users .photo{
    margin-right: 15px;
}

.messages-window .users .name-message{
    width: 100%;
    display: flex;
    flex-direction: column;
   align-items: flex-start;
}

.messages-window .users .name-unread{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.messages-window .users .name {
    font-weight: bold;
}

.messages-window .users .unread-count{
    font-size: 10px;
    color: red;
}



.messages-window .users .last-message{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.messages-window .users .last-message .last-message-text {
    padding-top: 5px;
    color: slategray;
    font-size: small;
}
.messages-window .users .last-message .date-time {
    color: slategray;
    font-size: x-small;
    margin-left: 10px;
}

 .messages{
     clear: both;
    padding: 0 5px !important;
    max-height: 70vh;
    overflow-y: scroll;
}

.message-li{
  
}

.message{
    margin-bottom: 10px;
    width: fit-content;
    max-width: 70%;
    border-radius: 36px;
    padding:10px 10px;
}

.message.left{
    background-color: gray;
}
.message.right{
    background-color:darkslateblue;
}

.message-text{
    color:white;
    font-size: large;
} 

.message-time{
    width: 100%;
    clear: both;
    margin-bottom: 2px;
    color: slategray;
    font-size: 11px;
}

.new-message-window {
    clear: both;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

.new-message-window .input-field{
    width: 85%;
}

.compose-message{
    padding:10px 0px;
    margin-right: 15px;
    
   display: flex;
   justify-content: center;
   align-items: center;
}
.compose-message span:hover{
    cursor: pointer;
    text-decoration: underline;
}
.compose-message .material-icons{
    margin-right: 5px;
}
.compose-message span{
    font-weight: bold;
    font-size: larger;
}

.conversation-list{
    max-height: 75vh;
    overflow-y: auto;
}

/* Small devices  */
@media (min-width: 300px) {
    .message-text{
        width: 100%;
        font-size: 10px;
    }

    .message{
        margin-bottom: 10px;
       
    }
}

/* (tablets, 768px and up) */
@media (min-width: 700px) {
    .message-text{
        width: 100%;
        font-size: 13px;
    }

    .message{
        margin-bottom: 10px;
      
    }
}

/* Large Tablets  */
@media (min-width: 1000px) {

    .message-text{
        width: 100%;
        font-size: 13px;
    }

    .container.messages-window{
        width: 90%;
        max-width:initial;
        > .row{
            margin: 0;
            > .col{
                padding: 0;
            }
        }
    }
}

/* Computer */
@media (min-width: 1500px) {
    .message-text{
        width: 100%;
        font-size: 13px;
    }

    .container.messages-window{
        width: 90%;
        max-width:initial;
        > .row{
            margin: 0;
            > .col{
                padding: 0;
            }
        }
    }
   
}