
nav ul li span.badge{
    position: relative;
    top: 20px;
    right: 37px;
    z-index: 1;
    }


ul.sidenav li{
    text-align: left;
}

.userWelcome{
    margin-top: -7px;
}

/* Small devices  */
@media (min-width: 300px) {
    nav .brand-logo {
        font-size: 21px;
    }
}

/* (tablets, 768px and up) */
@media (min-width: 700px) {
    nav .brand-logo {
        font-size: 21px;
    }
}

/* Large Tablets  */
@media (min-width: 1000px) {
    nav .brand-logo {
        font-size: 30px;
    }
}

/* Computer */
@media (min-width: 1500px) {

    nav .brand-logo {
     font-size: 30px;
 }
   
}