.brand-logo img{
    height: 2em;   
}

.nav-wrapper{
    background: rgb(26,35,126);
background: radial-gradient(circle, rgba(26,35,126,1) 85%, rgba(70,221,252,1) 100%);
}

nav ul li span.badge.notification-badge{
    background: linear-gradient(90deg, rgba(255,0,191,1) 44%, rgba(234,147,237,1) 100%);
    position: relative;    
    top: 20px;
    right: 37px;
    z-index: 1;
    }

    nav ul li span.badge.messages-badge{
        background: linear-gradient(90deg, rgba(41,171,51,1) 55%, rgba(113,231,118,1) 100%);     
        position: relative;
        top: 20px;
        right: 25px;
        z-index: 1;
        }
      
    
.badge-a {
     margin-top: -2px; 
     margin-left: 0px !important;
     margin-right: 0px ;
}
ul.sidenav li{
    text-align: left;
}

.userWelcome{
    margin-top: -7px;
}

.page-title{
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(0deg, rgba(26,35,126,1) 25%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pagination li {
    cursor: pointer;
    border-radius: 10px;
}

.pagesRow {
    /* display: flex;
    align-items: center; */
}

.pagesRow .pageSize {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.pagesRow .pageSize span {
    color: slategray;
}





/* Small devices  */
@media (min-width: 300px) {
    .brand-logo img{
        height: 1.7em;   
    }
    
}

/* (tablets, 768px and up) */
@media (min-width: 700px) {
    .brand-logo img{
        height: 1.7em;   
    }
}

/* Large Tablets  */
@media (min-width: 1000px) {
    .brand-logo img{
        height: 2em;   
    }
    .pagesRow .pageSize .select-wrapper {
        width: 4vw; 
   }
    .pagesRow {
         display: flex;
        align-items: center; 
    }
}

/* Computer */
@media (min-width: 1500px) {

    .brand-logo img{
        height: 2em;   
    }
   
}