.notifications.dropdown-content{
  min-width: 380px !important;
  margin-top: 116px !important;
  margin-right: 100px !important;    
  min-height: 50vh;
  max-height: 80vh;
  border: 1px solid white;

}

.notification-box{
  padding: 2px 20px;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}

.notification-box .icon{
  font-size: 15px;
}

.notification-box .text{
  font-size: 14px;
  max-width: 220px;
}

.notification-box .time{
  font-size: 10px;
}


 .notification-box.unread{ 
  background-color: lightgoldenrodyellow;
}

.notification-box.read{ 
  background-color: white;
} 
.notification-box p:hover{
  text-decoration: underline;
}

i.readIcon {
  font-size: 14px !important;   
}

.singout-btn i{
  cursor: pointer;
  color: red;
}