.notifications.dropdown-content{
  width: 300px !important;
  margin-top: 116px !important;
  margin-right: 100px !important;    
  min-height: 50vh;
  border: 1px solid white;
  background-color:  #1A237E;
}

.notification-box.unread{
  background-color:  #1A237E;
  color: white;
  padding: 2px 20px;
  border-bottom: 1px solid white;
}

.notification-box.read{
  background-color:  #1A237E;
  color: silver;
  padding: 2px 20px;
  border-bottom: 1px solid white;
}
.notification-box p:hover{
  text-decoration: underline;
}

i.readIcon {
  font-size: 14px !important;   
}

.singout-btn i{
  cursor: pointer;
  color: red;
}