

    .pagination li.active {
        background-color: #1A237E;
    }
  
    
    .title{
        color:#1A237E;
    }

    .datepicker-date-display, .timepicker-digital-display{
        background-color:#1A237E; ;
    }

    /* .datepicker-done, .datepicker-cancel, .timepicker-close{
        color: #1A237E
    } */

   

    /* .titleBar{
        border-bottom: 1px solid  #1A237E;
    } */

 ul.actionsBtns li{
       display: inline;
    }

.input-field button {
    margin-right: 10px;
}

/* Small devices  */
@media (min-width: 300px) {
   
}

/* (tablets, 768px and up) */
@media (min-width: 700px) {
    
}

/* Large Tablets  */
@media (min-width: 1000px) {
   
}

/* Computer */
@media (min-width: 1500px) {
       .incidentsTbl th{
           color: #1A237E;
           white-space: nowrap;
           width: 14%;
       }    
      
}