:root {
  --new-bg-color: radial-gradient(circle, rgba(196,189,91,1) 0%, rgba(199,190,52,1) 99%);
  --inprogress-bg-color: radial-gradient(circle, rgba(91,159,196,1) 0%, rgba(52,142,199,1) 99%);
  --closed-bg-color: radial-gradient(circle, rgba(76,177,94,1) 0%, rgba(78,200,94,1) 99%);
  --approved-bg-color: radial-gradient(circle, rgba(58,131,68,1) 0%, rgba(45,105,56,1) 100%);
  --late-bg-color: radial-gradient(circle, rgba(199,69,65,1) 0%, rgba(153,47,55,1) 100%);
  --assignedToMe-bg-color: radial-gradient(circle, rgba(42,68,156,1) 0%, rgba(28,35,125,1) 100%);
}


body{
  background: rgba(88, 115, 254, 0.04);
  min-height: 100vh;
font-family: 'Euclid Circular A','Helvetica Neue',Helvetica,Arial,sans-serif;

}


::-webkit-scrollbar {
  width: 5px;
   height: 5px; 
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkslategray;
}


.custom-dropdown {
  position: relative;
  display: inline-block;
}

.custom-dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  background-color:floralwhite ; 
  color:#1A237E;
  font-size: small;
  min-width:300px;
  max-width: 300px;
  white-space:pre-wrap;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 25px 15px;
  z-index: 2;
  border-radius: 10px;
}

.custom-dropdown:hover .custom-dropdown-content {
  display: block;
}

.card-content .row{
  margin-bottom: 0px;
}


.pagination li {
  cursor: pointer;
  border-radius: 5px;
}
.pagination li.active {
  background-color: #1A237E;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.starttime-container{
  position: relative;
}
.starttime{
  position: absolute;
  top: 0;
  left: 10px;
  background-color: red;
}

.card .card-content{
  padding: 15px;;
}

.save-btns button{
  margin-right: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
